* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: grid;
    place-items: center;
    background: #ada0a0;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    max-width: 350px;
    height: 330px;
    margin: 15px 20px; 
    background: #fff;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.card:hover {
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top-text {
    padding: 5px;
}

.card .top-text .name {
    font-size: 25px;
    font-weight: 600;
    color: #202020;
}


.card .top-text p {
    font-size: 25px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}

.card .bottom-text {
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}


.card:hover .bottom-text {
    opacity: 1;
    visibility: visible;
    transition: 0.1s;
}

.card .bottom-text .text {
    margin: 10px 0;
    text-align: center;
}

.card .bottom-text .btn a {
    text-decoration: none;
    background: #e74c3c;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
}

.card .bottom-text .btn a:hover {
    transform: scale(0.9);
}

/* responsive design */
@media screen and (max-width:900px) {
    .container {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}